<div class="row-fluid">
        <div class="span8">
            <blockquote ng-repeat="post in postsResult.posts">
                <p style="color:white">
                  <a href="#/post/{{post._id}}">{{post.title}}</a>
                </p> <small>关键词 <cite ng-repeat="tag in post.tags">{{tag}}</cite></small>
                <div style="color:white">
                    <pre  ng-bind-html-unsafe="post.content" >

                    </pre>
                </div>
            </blockquote>

        </div>
        <div class="span4">
        </div>
    </div>
